# The data provided HERE contains information about a random selection of 5,000 players who installed one of our apps in the last ~30 days. 

The dataset provided contains one file, players.csv.

The columns in the files are defined as follows.

level_progress.csv:
-	event_datetime: The date and time at which the event was received (Local time)
-	player_id: A unique identifier for each player.
-	level_number: The level number the event corresponds to.
-	status: The outcome the event corresponds to. (start, fail, complete)
-	session_id: A unique identifier for the session in which the event was produced.

*complete means the player was successful.

Task

Q. On which level are players most likely to fail?

You should consider the statistical significance of your answer carefully.

You should include any code used to process the data and any calculations used to compute an answer.

In [53]:
# Importing the required libraries for this project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
%%time
train = pd.read_csv('level_progress.csv')
train = reduce_mem_usage(train)
print(train.shape)

Memory usage of dataframe is 2.13 MB --> 1.76 MB (Decreased by 17.5%)
(55826, 5)
CPU times: user 87 ms, sys: 6.67 ms, total: 93.7 ms
Wall time: 908 ms

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55826 entries, 0 to 55825
Data columns (total 5 columns):
event_datetime    55826 non-null object
player_id         55826 non-null object
level_number      55826 non-null int8
status            55826 non-null object
session_id        55826 non-null object
dtypes: int8(1), object(4)
memory usage: 1.8+ MB

In [37]:
train.head()

,event_datetime,player_id,level_number,status,session_id
0,2020-11-28 21:00:24.958000,00020eac3d7e4f058b87eac1a9a85c25,6,complete,6ddf006b807e451eb4706d6d98a049b6
1,2020-11-27 22:03:03.048000,00020eac3d7e4f058b87eac1a9a85c25,2,start,3ba98db705f2aa0bc406441a61c23b3c
2,2020-11-26 14:53:09.344000,002188c0bc476f356f4c3b74e5cc66c8,1,start,25cf292a8f1d3da01df8371276502edf
3,2020-12-03 11:43:26.582000,00576ef3617e6bbbabfa0b1090e4122d,1,start,21fd6a7db53a9220574563ac8a8c8b58
4,2020-12-04 14:23:07.448000,00576ef3617e6bbbabfa0b1090e4122d,7,start,358b9ab5c1c0f08bc7def310411eb90f

In [39]:
for i in ['level_number']:
    print(f'unique [{i}] count:', train[i].nunique())

unique [level_number] count: 50

In [44]:
Status=train.groupby('status').level_number.agg([np.mean,max,min])
Status

              mean  max  min
status
complete  4.769384   48    0
fail      7.616015   44    0
start     6.583625   49    0

In [ ]:
df=train.groupby("status")
for i in df:
    print(i)